@import '../scss/fontSize.scss';
#commonHead{
    height:1.2533rem;
    background-color: #FFD600;
    padding-left:0.1333rem;
    display:flex;
    justify-content:space-between;
    align-items:center;
    img{
        width:0.8rem;
        height:0.8rem;
        margin-left:0.2667rem;
    }
    span{
        &:last-child{
            width:1.333rem;
            padding-top:0.267rem;
            display:flex;
            justify-content:center;
            >i{
                font-size:0.667rem;
            }
        }
    }
    p{
        flex:1;
        margin-left:0.56rem;
        position:relative;
        display:flex;
        align-items:center;
        input{  
            width:7.3333rem;
            height:0.803rem;
            border-radius:0.4rem;
            line-height:0.803rem;
            padding-left:0.8rem;
            background-color: #ECEFE6;
            font-size:$mainSizeBig;
        }
        i{
            width:0.64rem;
            position:absolute;
            top:0.1467rem;
            left:0.2667rem;
            font-size:$titleSize;
        }
    }

}
