@import '../../scss/fontSize.scss';
#w_header{
    %conmonStyle{
        font-size:$titleSize;
        text-align:center;
        line-height:1.28rem;
    }
    height:1.28rem;
    display:flex;
    justify-content:space-between;
    span{
        @extend %conmonStyle;
        &:first-child{
            width:1.147rem;
        }
        &:last-child{
            width:1.253rem;
            font-size:$mainSizeBig;
        }
    }
    h1{
        @extend %conmonStyle;
        flex:1;
    }
}